<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CourseWork.Properties.Settings.Users1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Users1.accdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="CourseWork.Properties.Settings.Users1ConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Users1.mdb;Persist Security Info=True"
            providerName="System.Data.OleDb" />
        <add name="CourseWork.Properties.Settings.Users1ConnectionString2"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\Users1.mdb"
            providerName="System.Data.OleDb" />
        <add name="CourseWork.Properties.Settings.DatabaseConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\valenti\Documents\Database.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>